@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-tap-highlight-color: transparent;
  font-family: 'Roboto Mono', monospace;
}

.ib {
  border-radius: 76% 24% 70% 30% / 65% 84% 16% 35%;
}
.active {
  color: #cf8e69;
  font-weight: 400;
}
.skeleton {
  height: 40px;
}
@media only screen and (max-device-width: 767px) {
  .cart {
    display: none;
  }
}
